<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>CHATFRIENDS IA - IMAGENS</title>
  @entryPointScripts('home')
  @entryPointStyles('home')

</head>
<html>
  <body>
    <main>
      <div id="anuncio-conteiner" class="anuncio-container"></div>
      
      <div id="search-conteiner" class="search-conteiner"></div>

      <div id="search-load" class="search-load" ></div>

      <section class="conteiner-images" id="image-container"></section>

      <div id="end-of-page"></div>

    </main>
  </body>
</html>
</html>
